:root {
  /* $primary: #545270;
$primaryLight: #817e9e;
$primaryDark: #2a2a45; */

  /* 全局主色 */
  --primary-color: #545270;
  /* --primary-color: #1890ff; */
  /* 链接色 */
  --link-color: #817e9e;
  /* --link-color: #1890ff; */
  /* 成功色 */
  --success-color: #52c41a;
  /* 警告色 */
  --warning-color: #faad14;
  /* 错误色 */
  --error-color: #f5222d;
  /* 主字号 */
  --font-size-base: 14px;
  /* 标题色 */
  --heading-color: rgba(0, 0, 0, 0.85);
  /* 主文本色 */
  --text-color: rgba(0, 0, 0, 0.65);
  /* 次文本色 */
  --text-color-secondary: rgba(0, 0, 0, 0.45);
  /* 失效色 */
  --disabled-color: rgba(0, 0, 0, 0.25);
  /* 组件/浮层圆角 */
  --border-radius-base: 2px;
  /* 边框色 */
  --border-color-base: #d9d9d9;
  /* 浮层阴影 */
  --box-shadow-base: 0 3px 6px -4px rgba(0, 0, 0, 0.12),
    0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}




html,
body {
  height: 100%;
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB",
    "Microsoft YaHei", SimSun, sans-serif;
  font-weight: 400;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
}

body {
  padding-top: 80px;
  height: calc(100% - 80px);
}

a {
  color: var(--text-color);
  text-decoration: none;
  /* opacity: 0.5; */
  font-weight: bold;
}

a:hover {
  opacity: 0.8;
}

.rc-footer {
  position: relative;
  clear: both;
  color: rgba(255, 255, 255, 0.4);
  font-size: 14px;
  line-height: 1.5;
  background-color: #000;
}
.rc-footer a {
  transition: all 0.3s;
  color: rgba(255, 255, 255, 0.9);
  text-decoration: none;
}
.rc-footer a:hover {
  color: #40a9ff;
}
.rc-footer-container {
  width: 100%;
  max-width: 1200px;
  padding: 80px 0 20px;
  margin: auto;
}
.rc-footer-columns {
  display: flex;
  justify-content: space-around;
}
.rc-footer-column {
  margin-bottom: 60px;
}
.rc-footer-column h2 {
  position: relative;
  margin: 0 auto 24px;
  font-weight: 500;
  font-size: 16px;
  color: #fff;
}
.rc-footer-column-icon {
  margin-right: 0.5em;
  width: 22px;
  display: inline-block;
  vertical-align: middle;
  top: -1px;
  position: relative;
  text-align: center;
}
.rc-footer-column-icon > span,
.rc-footer-column-icon > svg,
.rc-footer-column-icon img {
  width: 100%;
  display: block;
}
.rc-footer-item {
  margin: 12px 0;
}
.rc-footer-item-icon {
  margin-right: 0.4em;
  width: 16px;
  display: inline-block;
  vertical-align: middle;
  top: -1px;
  position: relative;
  text-align: center;
}
.rc-footer-item-icon > span,
.rc-footer-item-icon > svg,
.rc-footer-item-icon img {
  width: 100%;
  display: block;
}
.rc-footer-item-separator {
  margin: 0 0.3em;
}
.rc-footer-bottom-container {
  border-top: 1px solid rgba(255, 255, 255, 0.25);
  width: 100%;
  max-width: 1200px;
  text-align: center;
  margin: 0 auto;
  padding: 16px 0;
  line-height: 32px;
  font-size: 16px;
}
.rc-footer-light {
  background-color: transparent;
  color: rgba(0, 0, 0, 0.85);
}
.rc-footer-light h2,
.rc-footer-light a {
  color: rgba(0, 0, 0, 0.85);
}
.rc-footer-light .rc-footer-bottom-container {
  border-top-color: #e8e8e8;
}
.rc-footer-light .rc-footer-item-separator,
.rc-footer-light .rc-footer-item-description {
  color: rgba(0, 0, 0, 0.45);
}
@media only screen and (max-width: 767.99px) {
  .rc-footer {
    text-align: center;
  }
  .rc-footer-container {
    padding: 40px 0;
  }
  .rc-footer-columns {
    display: block;
  }
  .rc-footer-column {
    display: block;
    margin-bottom: 40px;
  }
  .rc-footer-column:last-child {
    margin-bottom: 0;
  }
}

.a_cfnq_rn0MUbr69uPJa {
  background-color: var(--primary-color);
  color: #fff;
}

.a_cfnq_rn0MUbr69uPJa a:hover {
  color: #fff;
  /* color: var(--primary-color); */
  /* color: var(--link-color); */
}

:root {
  /* $primary: #545270;
$primaryLight: #817e9e;
$primaryDark: #2a2a45; */

  /* 全局主色 */
  --primary-color: #545270;
  /* --primary-color: #1890ff; */
  /* 链接色 */
  --link-color: #817e9e;
  /* --link-color: #1890ff; */
  /* 成功色 */
  --success-color: #52c41a;
  /* 警告色 */
  --warning-color: #faad14;
  /* 错误色 */
  --error-color: #f5222d;
  /* 主字号 */
  --font-size-base: 14px;
  /* 标题色 */
  --heading-color: rgba(0, 0, 0, 0.85);
  /* 主文本色 */
  --text-color: rgba(0, 0, 0, 0.65);
  /* 次文本色 */
  --text-color-secondary: rgba(0, 0, 0, 0.45);
  /* 失效色 */
  --disabled-color: rgba(0, 0, 0, 0.25);
  /* 组件/浮层圆角 */
  --border-radius-base: 2px;
  /* 边框色 */
  --border-color-base: #d9d9d9;
  /* 浮层阴影 */
  --box-shadow-base: 0 3px 6px -4px rgba(0, 0, 0, 0.12),
    0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
}

