html,
body {
  height: 100%;
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB",
    "Microsoft YaHei", SimSun, sans-serif;
  font-weight: 400;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
}

/* body {
  padding-top: 80px;
  height: calc(100% - 80px);
} */

a {
  color: var(--text-color);
  text-decoration: none;
  /* opacity: 0.5; */
  font-weight: bold;
}

/* a:hover {
  opacity: 0.8;
} */
