.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid var(--border-color-base);
  height: 80px;
  /* overflow: hidden; */
}

.header a {
  color: var(--link-color);
  padding: 0 20px;
  height: 80px;
  line-height: 80px;
  display: inline-block;
}

.header a:hover {
  color: var(--primary-dark-color);
}

.header a:hover .hoverContainer {
  border-bottom: 2px solid var(--primary-dark-color);
}

.left {
  /*  */
}

.right {
  height: 100%;
}

.selectedRoute {
  color: var(--primary-dark-color) !important;
}
.selectedRoute .hoverContainer {
  border-bottom: 2px solid var(--primary-dark-color);
}
