.header {
  height: 80px;
  background: #fff;
  position: sticky;
  top: 0;
}

.main {
  display: flex;
  flex-flow: column nowrap;
  min-height: calc(100vh - 81px);
}
.containter {
  display: flex;
  flex: 1 1 auto;
}
.side {
  flex: 0.1;
}
.content {
  flex: 0.9;
}

.footer {
  flex: 0 0 auto;
}
